@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}


/*font-family: 'Roboto', sans-serif; font-family: "Audiowide", sans-serif;*/

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
}

.w3-col {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: inherit;
    height: 650px;
}

.profile {
    margin: 10px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgb(100, 100, 100, 0.1);
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
}

.skills {
    margin: 10px 10px 10px 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.content-table {
    border-radius: 5px 5px 0 0;
    border-collapse: collapse;
    margin: 1px 0;
    font-size: 1.9em;
    min-width: 400px;
    max-width: 500px;
    box-shadow: 5px 5px 10px 5px rgb(100, 100, 100, 0.1);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.content-table th,
td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.reference {
    margin-top: 20px;
    max-width: 500px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgb(100, 100, 100, 0.1);
}

.content-refname {
    margin: 5px 0 0 5px;
    padding-left: 5px;
}

.content-ref {
    margin-top: 10px;
    margin-left: 5px;
}

.avatar,
.bio,
.mail,
.name {
    margin-top: 20px;
    padding-left: 10px;
    font-size: 25px;
}

.cizgi {
    border: 1px solid #09201c;
    margin-bottom: 5px;
}

.footerr {
    margin-top: 5px;
    margin: 0 5px 10px 5px;
    font-size: 20px;
    text-align: center;
}

a {
    color: rgb(33, 85, 116);
    text-decoration: unset;
}

a:hover {
    color: rgb(2, 11, 63);
}